{
    "data": {
        "elevation": 0,
        "external_url": "https://hab11.com",
        "internal_url": null,
        "latitude": 41.18138303369821,
        "location_name": "Home",
        "longitude": -8.623506883959262,
        "time_zone": "Europe/Lisbon",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}